{% block body %}
	<!-- ======= About Me Section ======= -->
	<section id="about" class="about">
		<div class="container">

			<div class="section-title">
				<span>A propos</span>
				<h2>A propos</h2>
				<p>
					En école a Ynov campus Bordeaux en première année.
				</p>
			</div>

			<div class="row">
				<div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
				<div class="col-lg-8 d-flex flex-column align-items-stretch">
					<div class="content pl-lg-4 d-flex flex-column justify-content-center">
						<div class="row">
							<div class="col-lg-6">
								<ul>
									<i class="icofont-rounded-right"></i>
									<strong>Website:</strong>
									www.mathiascoutant.fr</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul>
								<li>
									<i class="icofont-rounded-right"></i>
									<strong>Email:</strong>
									mathias.coutant@ynov.com</li>
								<li>
									<i class="icofont-rounded-right"></i>
									<strong>Région :
									</strong>
									Gironde , Bordeaux</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- End .content-->

				<div class="skills-content pl-lg-4">
					<div class="progress">
						<span class="skill">Organisé
							<i class="val"></i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Persévérant
							<i class="val"></i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Patient
							<i class="val"></i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Pédagogique
							<i class="val"></i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>
<!-- End About Me Section -->{% endblock %}
