{% extends 'base.html.twig' %}

{% block body %}
	{% if app.request.hasPreviousSession %}
		{% for label, messages in app.flashes(['success', 'warning']) %}
			{% for message in messages %}
				{% include("flash_message/_success_flash.html.twig") %}
			{% endfor %}
		{% endfor %}
		{% for label, messages in app.flashes(['error', 'warning']) %}
			{% for message in messages %}
				{% include("flash_message/_error_flash.html.twig") %}
			{% endfor %}
		{% endfor %}
	{% endif %}


	{% include("hero/hero.html.twig") %}


	<main id="main">

		{% include("about/about.html.twig") %}


		{% include("resume/resume.html.twig") %}

		{% include("competence/competence.html.twig") %}


		{% include("portfolio/portfolio.html.twig") %}


		{% include("tool/tool.html.twig") %}


		{% include("contact/contact.html.twig") %}

	</main>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
