{% block body%}
	<!-- ======= My Competence Section ======= -->
	<section id="competences" class="competences">
		<div class="container">

			<div class="section-title">
				<span>Mes compétences</span>
				<h2>Mes compétences</h2>
				<p></p>
			</div>

			<div class="row">
				<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bxs-data"></i>
						</div>
						<h4 class="title">
							<a href="">Base de données</a>
						</h4>
						<p class="description">Communiquer avec une base de données pour stocker et requêter des informations</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bxs-component"></i>
						</div>
						<h4 class="title">
							<a href="">Symfony</a>
						</h4>
						<p class="description">Développer grâce au framework Symfony</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-terminal"></i>
						</div>
						<h4 class="title">
							<a href="">Tests unitaires et fonctionnels</a>
						</h4>
						<p class="description">Mettre en oeuvre des tests unitaires et fonctionnels</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box">
						<div class="icon">
							<i class="icofont-live-support"></i>
						</div>
						<h4 class="title">
							<a href="">Support utilisateur</a>
						</h4>
						<p class="description">Assister les utilisateurs dans l'usage quotidien des outils informatiques</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- End My competences Section -->
{% endblock %}
