{% block body %}
	<!-- ======= My Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
		<div class="container">

			<div class="section-title">
				<span>Portfolio</span>
				<h2>Portfolio</h2>
				<p></p>
			</div>

			<ul id="portfolio-flters" class="d-flex justify-content-center">
				<li data-filter="*" class="filter-active">All</li>
				<li data-filter=".filter-app">App</li>
				<li data-filter=".filter-card">Card</li>
				<li data-filter=".filter-web">Web</li>
			</ul>

			<div class="row portfolio-container">

				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Blog.png') }}" class="img-fluid" alt="Mon blog"></div>
					<div class="portfolio-info">
						<h4>Blog</h4>
						<p>Mon blog</p>
						<a href="{{ asset('build/images/portfolio/Blog.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Mon blog">
							<i class="bx bx-plus"></i>
						</a>
						<a href="#" class="details-link" title="More Details">
							<i class="bx bx-link"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End My Portfolio Section -->
{% endblock %}
