{% block body %}
	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<h1 class="titleElement">Mathias COUTANT</h1>
			<h2 class="titleElement">Développeur web PHP/Symfony</h2>
			<a href="#about" class="btn-scroll scrollto" title="Scroll Down">
				<i class="bx bx-chevron-down"></i>
			</a>
		</div>
	</section>
	<!-- End Hero -->
{%  endblock %}
