{% block body %}
	<!-- ======= Tools Section ======= -->
	<section id="pricing" class="services">
		<div class="container">

			<div class="section-title">
				<span>Outils maîtrisés</span>
				<h2>Outils maîtrisés</h2>
				<p></p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 icon-box" data-aos="#" data-aos-delay="100">
					<div class="icon">
						<i class="icofont-code"></i>
					</div>
					<h4 class="title">
						<a href="">Langages</a>
					</h4>
					<p class="">
						<ul class="description">
							<li>HTML5</li>
							<li>CSS3</li>
							<li>PHP</li>
							<li>MySql</li>
						</ul>
					</p>
				</div>
				<div class="col-lg-4 col-md-6 icon-box" data-aos="#" data-aos-delay="200">
					<div class="icon">
						<i class="icofont-settings-alt"></i>
					</div>
					<h4 class="title">
						<a href="">Framework</a>
					</h4>
					<p class="">
						<ul class="description">
							<li>Symfony</li>
							<li>Bootstrap</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Tools Section -->
{% endblock %}
