{% block title %}
	<title>Portfolio / Mentions</title>
{% endblock %}

{% block content %}
	<main
		id="main">
		<!-- Wrapper -->
		<div
			id="wrapper">
			<!-- Intro -->
			<section class="intro">
				<header>
					<h1>Mentions légales</h1>
					<ul class="actions">
						<li>
							<a href="#first" class="arrow scrolly">
								<span class="label">Next</span>
							</a>
						</li>
					</ul>
				</header>
				<div class="content">
					<span class="image fill" data-position="center"><img src="#" alt=""/></span>
				</div>
			</section>
			<!-- Section -->
			<section id="first">
				<header>
					<h2>Informations</h2>
				</header>
				<div class="content">
					<p>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, le responsable du présent site internet
						<a href="http://www.mathiascoutant.fr">www.mathiascoutant.fr</a>
						est :</p>
					<span class="image main"><img src="#" alt=""/></span>
				</div>
			</section>
			<!-- Section -->
			<section>
				<header>
					<h2>Edition du Site</h2>
				</header>
				<div class="content">
					<p>
						<strong>Développeur du Site :</strong>
					</p>
					<ul class="feature-icons">
						<li class="icon fa-user-circle">Mathias COUTANT</li>
						<li class="icon fa-address-card">Bordeaux</li>
						<li class="icon fa-angle-right">www.mathiascoutant.fr</li>
					</ul>
					<hr/>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
