<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="container">
		<h3>Merci de votre visite !</h3>
		<p>Retrouvez-moi sur les réseaux sociaux</p>
		<div class="copyright">
			<strong>
				<span>Mathias COUTANT - 2022</span>
			</strong>
			<strong>
				<span>
					<a href="/mention">Mentions légales</a>
				</span>
			</strong>
		</div>
		<div class="credits">
			Designed by
			<a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top">
	<i class="icofont-simple-up"></i>
</a>
