{% block body %}
	<!-- ======= Contact Me Section ======= -->
	<section id="contact" class="contact">
		<div class="container">

			<div class="section-title">
				<span>Contactez-moi</span>
				<h2>Contactez-moi</h2>
				<p>Pour plus d'informations, n'hésitez pas à m'écrire</p>
			</div>

			<div class="row">

				<div class="col-lg-6">

					<div class="row">
						<div class="col-md-6">
							<div class="info-box mt-4">
								<i class="bx bx-envelope"></i>
								<h3>Email</h3>
								<p>mathias.coutant@ynov.com</p>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-6">
					{% include("form/_form.html.twig") %}
				</div>

			</div>

		</div>
	</section>
	<!-- End Contact Me Section -->
{% endblock %}
